<p>Study</p>
<p class='next' onclick="nextCard(this)">next card</p>

<% @deck.cards.shuffle.each do |card, index| %>
    <div class='card' hidden=true>
        <div class='front'>
        Front: <%= card.front %>
        </div>
        <div onclick="revealAnswer(this)">
            Reveal
        </div>
        <div class='back' hidden=true>
            Back: <%= card.back %>
        </div>
    </div>
<% end %>

<div class="finished" hidden=true>
    All finished!
    <div onclick="startOver(this)">Study more</div>
</div>
<div><%= link_to 'Go back to deck', deck_path(@deck) %></div>
<%= content_tag :div, '', id: 'jsVariables', data: { deckLength: @deckLength } %>

